.dashboard .body > div {
  padding-top: 58px;
}

.category.card {
  width: 30%;
}

.line-bottom {
  border-bottom: solid 2px #eeeeee;
}

.icon {
  background: none;
  border: none;
}

.task-due, .tasks {
  background: #eeeeee;
}

.selected-project {
  background: #f5f5f5;
}